.group-menu-container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: -110%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.25s;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    z-index: 30;
}
.group-info-container {
    width: 100%;
    height: 175px;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    background-position: center;
    background-attachment: local;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
    position: relative;
    padding-bottom: 25px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: rgba(255, 255, 255, 0.637);
    z-index: 1;
}
.blur-background-image-container {
    position: absolute;
    top: 0;
    left: 0;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(8px);
    background-color: rgba(255, 255, 255, 0.336);
    z-index: 1;
}
.inner-info-container {
    z-index: 1;
}
.group-image-container {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin: 0 1rem 0 3rem;
    z-index: 2;
    flex-shrink: 0;
}
.group-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-radius: 50%;
    flex-shrink: 0;
}
.inner-info-container h2 {
    font-weight: 400;
    flex-shrink: 0;
}
.inner-info-container h5 {
    opacity: 0.8;
    flex-shrink: 0;
    text-transform: capitalize;
}
.owner-button {
    flex-shrink: 0;
    cursor: default;
    border-radius: 10px;
    padding: 0.3rem;
}
.owner-button:hover {
    opacity: 1;
    border: solid 1px black;
    background-color: black;
    color: white;
}
.group-users-container {
    display: flex;
    flex-direction: column;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    margin-top: -25px;
    z-index: 1;
    background-color: white;
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    align-items: center;
}
.group-users-title-container {
    width: 100%;
    height: auto;
    flex-shrink: 0;
    display: flex;
    justify-content: flex-start;
    
}
.group-users-title-container h2 {
    opacity: 0.5;
    font-weight: 400;
    margin-left: 1rem;
}

.group-users-container button {
    width: 60%;
    margin: 1rem 0;
    padding: 1rem 0.5rem;
    background-color: white;
    border-radius: 10px;
    border: solid 2px black;
    flex-shrink: 0;
}
.group-users-container button:hover {
    filter: invert();
}

