.leave-group-button-container {
    position: absolute;
    top: 4px;
    right: 60px;
    padding: 3px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    z-index: 10;
}

.leave-group-button-container svg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.leave-group-button-container:hover {
    background-color: rgba(128, 128, 128, 0.452);
}