.group-menu-button {
    position: absolute;
    right: 0;
    top: 2rem;
    padding: 1rem 10px;
    height: 30px;
    width: 15px;
    background-color: rgba(0, 0, 0, 0.404);
    border-left: 3px solid black;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    display: flex;
    align-items: center;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    z-index: 31;
}
.group-menu-button:hover {
    filter: brightness(300%);
}