.edit-blocked-list-container {
    display: none;
    flex-direction: column;
    width: 100%;
    height: auto;
    flex-shrink: 0;
}
.blocked-user-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-shrink: 0;
}
.inner-blocked-container {
    display: flex;
    flex-shrink: 0;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
.inner-blocked-container button {
    width: 30%;
    height: 40px;
    background-color: white;
    border: solid 2px black;
    border-radius: 10px;
}
.inner-blocked-container button:hover {
    filter: invert();
}