.password-update-outer-container {
    background-color: white;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.inner-password-update-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.inner-password-update-container input {
    width: 70%;
    font-size: 1.4rem;
    border: solid black 2px;
    border-radius: 10px;
    padding: 1rem 0.5rem;
}
.inner-password-update-container p {
    text-align: center;
    width: 100%;
}
.inner-password-update-container button {
    width: 70%;
    padding: 1rem 0.5rem;
    border: solid black 2px;
    background-color: white;
    border-radius: 10px;
}
.button-not-valid {
    opacity: 0.3;
}
.button-valid:hover {
    filter: invert();
}